USE [master]
GO
/****** Object:  Database [DBPrueba]    Script Date: 21/1/2019 00:15:22 ******/
CREATE DATABASE [DBPrueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBPrueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBPrueba.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBPrueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBPrueba_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPrueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPrueba]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 21/1/2019 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Asesores]    Script Date: 21/1/2019 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asesores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [nvarchar](max) NOT NULL,
	[SegundoNombre] [nvarchar](max) NULL,
	[PrimerApelldo] [nvarchar](max) NOT NULL,
	[SegundoApellido] [nvarchar](max) NULL,
	[Correo] [nvarchar](max) NOT NULL,
	[Clave] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Asesores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 21/1/2019 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [nvarchar](max) NOT NULL,
	[SegundoNombre] [nvarchar](max) NULL,
	[PrimerApelldo] [nvarchar](max) NOT NULL,
	[SegundoApellido] [nvarchar](max) NULL,
	[Correo] [nvarchar](max) NULL,
	[Documento] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Companias]    Script Date: 21/1/2019 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Ciudad] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Companias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Productos]    Script Date: 21/1/2019 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Compania_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 21/1/2019 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Valor] [int] NOT NULL,
	[Asesor_Id] [int] NULL,
	[Cliente_Id] [int] NULL,
	[Producto_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Asesores] ON 

INSERT [dbo].[Asesores] ([Id], [PrimerNombre], [SegundoNombre], [PrimerApelldo], [SegundoApellido], [Correo], [Clave]) VALUES (1, N'Pablo', NULL, N'Barrera', NULL, N'pablo@gmail.com', N'123')
INSERT [dbo].[Asesores] ([Id], [PrimerNombre], [SegundoNombre], [PrimerApelldo], [SegundoApellido], [Correo], [Clave]) VALUES (3, N'Juan', N'Alejandro', N'Navarro', N'Povedra', N'juan@gmail.com', N'1234')
SET IDENTITY_INSERT [dbo].[Asesores] OFF
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [PrimerNombre], [SegundoNombre], [PrimerApelldo], [SegundoApellido], [Correo], [Documento]) VALUES (4, N'Jhon', N'Jairo', N'Roldan', N'Caballero', N'jhon@gmail.com', 123)
INSERT [dbo].[Clientes] ([Id], [PrimerNombre], [SegundoNombre], [PrimerApelldo], [SegundoApellido], [Correo], [Documento]) VALUES (5, N'Andres', NULL, N'Lopez', NULL, N'andres@gmail.com', 1234)
INSERT [dbo].[Clientes] ([Id], [PrimerNombre], [SegundoNombre], [PrimerApelldo], [SegundoApellido], [Correo], [Documento]) VALUES (6, N'Catalina', N'Andrea', N'Gomez', NULL, N'catalina@gmail.com', 12345)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Companias] ON 

INSERT [dbo].[Companias] ([Id], [Descripcion], [Ciudad]) VALUES (6, N'Ktronix', N'Tunja')
INSERT [dbo].[Companias] ([Id], [Descripcion], [Ciudad]) VALUES (7, N'Exito', N'Cartagena')
INSERT [dbo].[Companias] ([Id], [Descripcion], [Ciudad]) VALUES (8, N'Panamericana', N'Bogota')
SET IDENTITY_INSERT [dbo].[Companias] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Descripcion], [Compania_Id]) VALUES (7, N'Televisores', NULL)
INSERT [dbo].[Productos] ([Id], [Descripcion], [Compania_Id]) VALUES (8, N'Computadores', NULL)
INSERT [dbo].[Productos] ([Id], [Descripcion], [Compania_Id]) VALUES (9, N'Lavadoras', NULL)
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [Fecha], [Cantidad], [Valor], [Asesor_Id], [Cliente_Id], [Producto_Id]) VALUES (6, CAST(N'2019-01-20 23:56:38.550' AS DateTime), 4, 100000, 1, 4, 8)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
/****** Object:  Index [IX_Compania_Id]    Script Date: 21/1/2019 00:15:22 ******/
CREATE NONCLUSTERED INDEX [IX_Compania_Id] ON [dbo].[Productos]
(
	[Compania_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asesor_Id]    Script Date: 21/1/2019 00:15:22 ******/
CREATE NONCLUSTERED INDEX [IX_Asesor_Id] ON [dbo].[Ventas]
(
	[Asesor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cliente_Id]    Script Date: 21/1/2019 00:15:22 ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_Id] ON [dbo].[Ventas]
(
	[Cliente_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Producto_Id]    Script Date: 21/1/2019 00:15:22 ******/
CREATE NONCLUSTERED INDEX [IX_Producto_Id] ON [dbo].[Ventas]
(
	[Producto_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Productos_dbo.Companias_Compania_Id] FOREIGN KEY([Compania_Id])
REFERENCES [dbo].[Companias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_dbo.Productos_dbo.Companias_Compania_Id]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Asesores_Asesor_Id] FOREIGN KEY([Asesor_Id])
REFERENCES [dbo].[Asesores] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Asesores_Asesor_Id]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Clientes_Cliente_Id] FOREIGN KEY([Cliente_Id])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Clientes_Cliente_Id]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Productos_Producto_Id] FOREIGN KEY([Producto_Id])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Productos_Producto_Id]
GO
USE [master]
GO
