
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Title { Menu principal }

<h2 class="text-center display-4 mb-5">Menu principal</h2>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow">
        <div class="card-body">
            <h4 class="mb-4">Administrar proyectos</h4>
            <p>
                Haga click en el boton para ir al frontal de administración de proyectos,
                el cual le permitira gestionar la configuración de los distintos proyectos
            </p>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
    </div>
    <div class="card mb-4 shadow">
        <div class="card-body">
            <h4 class="mb-4">Administrar productos</h4>
            <p>
                Haga click en el boton para ir al frontal de administración de productos,
                el cual le permitira gestionar la configuración de los distintos productos
            </p>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
    </div>
    <div class="card mb-4 shadow">
        <div class="card-body">
            <h4 class="mb-4">Generar ventas</h4>
            <p>
                Haga click en el boton para ir al frontal de registro de ventas, el cual
                le permitira registrar la información relacionada al proceso de ventas
            </p>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
    </div>
</div>